/* Global Variables */
:root {
	font-size: 16px;
	--h1: 2rem;
	--h2: 1rem;
	--h3: 1rem;
	--h4: 1rem;
	--p: 1rem;
	--a: 0.8rem;
	--button-text: 0.8rem;
	--primary: black;
	--black: black;
	--white: white;
	--border-radius: 5px;
	--hover-color: red;
	--icons-size: 30px;
	--active: black;
	--inactive: rgb(177, 177, 177);
	--form-input-height: 40px;
}

/* Global Reset */

html {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0px;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	box-sizing: inherit;
}

*::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

*:before,
*:after {
	box-sizing: inherit;
}

script,
head {
	display: none;
}

body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: white;
	margin: 0 auto;
}

/* Global Styles */

h1 {
	font-size: var(--h1);
}

h2 {
	font-size: var(--h2);
}

h3 {
	font-size: var(--h3);
}

h4 {
	font-size: var(--h4);
}

p {
	font-size: var(--p);
}

a {
	font-size: var(--a);
	color: var(--primary);
	font-weight: 800;
}

/* Icons on hover */
svg:hover {
	color: var(--hover-color);
	cursor: pointer;
}

/* Classes */
.icons {
	color: var(--white);
	width: var(--icons-size) !important;
	height: var(--icons-size) !important;
}
