/* Reset */
html,
body,
#root,
.App {
	min-height: 550px;
	height: 100vh;
}

html {
	box-sizing: border-box;
}

body {
	width: 100vw;
	overflow-x: hidden;
	background-color: white;
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0px;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: inherit;
}

*::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none; /* Hide scrollbar for IE, Edge and Firefox */
	scrollbar-width: none;
}

*:before,
*:after {
	box-sizing: inherit;
}

script,
head {
	display: none;
}
