/* Reset */
html {
	box-sizing: border-box;
	height: 100%;
}

* {
	margin: 0;
	padding: 0px;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: inherit;
}

*::-webkit-scrollbar {
	display: none;
}
* {
	-ms-overflow-style: none; /* Hide scrollbar for IE, Edge and Firefox */
	scrollbar-width: none;
}

*:before,
*:after {
	box-sizing: inherit;
}

script,
head {
	display: none;
}

body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: white;
	margin: 0 auto;
}
